*{margin:0; padding:0;}
li{list-style:none;}
clearfix::after{content: ""; display: block; clear:both;}

body{background-color:black;
    overflow-x: hidden;}

#wrap h1{font-size:150px;
        color:chartreuse;
        margin-top:200px;
        margin-left:150px;
        letter-spacing: 1px;}

#wrap h1 em{display: block;
            font-weight: 100;
            margin-left:400px;}


/* section */
section{margin-top:400px;}
/* section */

/* article */
article{width:1200px;
        margin-bottom: 250px;}
.box img{width:100%;}

.con:nth-child(2n+1){float: left;}
.con:nth-child(2n){float: right;}
/* article */

/* main */
.main{font-size:30px;
    line-height:60px;
    color:#fff;}
.con:nth-child(2n+1) .main{text-align:right;
                        display:block;}
/* main */

/* sub */
.sub{font-size:100px;
    color:#ddd;
    margin-top:-80px;
    margin-left:120px;}
/* sub */

/* info */
#info{position: fixed;
    bottom: 20px;
    right: 20px;
    color:#ddd;
    font-size:20px;
    line-height: 30px;}
/* info */

/* show */
.con .main{opacity: 0;
            transition:1s;}

.con:nth-child(2n+1) img{opacity:0; transition:2s; transform:translateX(-200px);}
.con:nth-child(2n) img{opacity:0; transition:2s; transform: translateX(200px);}
.con .sub{opacity:0; transition: 3s; transform: translateY(200px);}


.con.show .main{opacity:1s;}
.con:nth-child(2n+1).show img{opacity: 1; transform: translateX(0);}
.con:nth-child(2n).show img{opacity: 1; transform: translateX(0);}
.con.show .sub{opacity:1; transform: translateY(0);}
/* show */